# Configuration LLDB pour Sp3ctraGen

# Définir l'architecture cible
settings set target.process.target-architecture arm64

# Activer les points d'arrêt en ligne
settings set target.inline-breakpoint-strategy always

# Ajouter le répertoire source actuel à la liste des chemins de recherche
settings append target.source-map /Users/zhonx/Documents/Workspaces/Workspace_Xcode/CISYNTH_App/CISYNTH_Qt /Users/zhonx/Documents/Workspaces/Workspace_Xcode/CISYNTH_App

# Ajouter le répertoire include à la liste des chemins de recherche
settings append target.source-map /Users/zhonx/Documents/Workspaces/Workspace_Xcode/CISYNTH_App/CISYNTH_Qt/include /Users/zhonx/Documents/Workspaces/Workspace_Xcode/CISYNTH_App/include

# Ajouter le répertoire src à la liste des chemins de recherche
settings append target.source-map /Users/zhonx/Documents/Workspaces/Workspace_Xcode/CISYNTH_App/CISYNTH_Qt/src /Users/zhonx/Documents/Workspaces/Workspace_Xcode/CISYNTH_App/src

# Activer la journalisation des symboles pour le débogage
settings set symbols.debug-info-format dwarf

# Activer la journalisation des événements de débogage
settings set target.process.thread.step-avoid-regexp ""

# Activer tous les points d'arrêt
breakpoint enable
